body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero-text {
  text-align: center;
  color: black;
  padding: 50px 20px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
}

.hero-text h1 {
  font-size: 250%;
  font-weight: bold;
  margin-bottom: 5px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.hero-text p {
  font-size: 1.5rem;
  font-weight: lighter;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.hero-text h1, .hero-text p {
  transition: all 0.3s ease;
}

.hero-text:hover h1 {
  transform: scale(1.1);
}

.hero-text:hover p {
  transform: scale(1.05);
}
